Package: org.favour.bequietwatusi
Conflicts: org.favour.nowatusialert
Replaces: org.favour.nowatusialert
Name: BeQuietWatusi
Version: 1.0.2
Architecture: iphoneos-arm
Description: Unveiling an alert with a touch of magic.
Maintainer: AppleFavour
Author: AppleFavour
Section: Tweaks
Depends: 
Icon: https://turannul.github.io/home/resources/whatsapp.png
